$suggestion-match-color: #3399FF;

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;

  strong {
    font-weight: normal;
    color: $suggestion-match-color;
  }
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #eee;

  .suggestion-sub {
    margin-left: 5px;
    color: lighten($text-color, 30%);
  }
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-group {
  padding: 2px 5px;

  strong {
    display: block;
    border-bottom: 1px solid #000;
  }
}
